<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 + CSS3 Course</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/media.css" />
<script src="/public/scripts/script.js"></script>

<body>
    <div id="interface">

        <header id="Header">
            <hgroup>
                <h1 id="h1">Google Glass </h1>
                <h2 id="h2">A revolução do Google está chegando</h2>
            </hgroup>

            <img src="/public/images/multimidia.png" id="icon">
            <nav id="menu">
                <h1>Menu Principal</h1>
                <ul>
                    <li onmouseover="change_picture('/public/images/home.png')"
                        onmouseout="change_picture('/public/images/multimidia.png')"><a href="/src/views/index.html">Home</a></li>
                    <li onmouseover="change_picture('/public/images/especificacoes.png')"
                        onmouseout="change_picture('/public/images/multimidia.png')"><a
                            href="/src/views/specs.html">Especificações</a></li>
                    <li onmouseover="change_picture('/public/images/fotos.png')"
                        onmouseout="change_picture('/public/images/multimidia.png')"><a href="/src/views/fotos.html">Fotos</a>
                    </li>
                    <li onmouseover="change_picture('/public/images/multimidia.png')"
                        onmouseout="change_picture('/public/images/multimidia.png')"><a
                            href="/src/views/multimidia.html">Multimídia</a></li>
                    <li onmouseover="change_picture('/public/images/contato.png')"
                        onmouseout="change_picture('/public/images/multimidia.png')"><a href="/src/views/fale-conosco.html">Fale
                            conosco</a></li>
                    </ol>
            </nav>

        </header>

        <section>
            <article id="art">
                <header id="hea-art">
                    <hgroup>
                        <h3>Glass > Multimídia</h3>
                        <h1>Sons e Vídeos</h1>
                        <h2>por Gustavo Guanabara</h2>
                        <h3 class="right">Atualizado em 01/Maio/2013</h3>
                    </hgroup>
                </header>

                <div id="video-audio">
                    <audio id="music" controls="controls">
                        <source src="/public/audios/2009-lovers-carvings-bibio.mp3"
                            type="audio/mpeg" />
                    </audio>
                    <video id="movie" controls="controls" poster="/public/images/video-mini03.jpg">
                        <source src="/public/videos/getting-started.mp4" type="video/mp4">
                    </video>
                </div>

            </article>

        </section>

        <footer id="foot">

            <p>João... Termineiiii... 16 de junho de 2020 02:18<br>
                Copyright 2013 - by Gustavo Guanabara<br>
                <a href="http://facebook.com/cursosemvideo" target="_blank"> Facebook</a> |<a
                    href="http://twitter.com/cursosemvideo" target="_blank"> Twitter</p>

        </footer>
    </div>
</body>

</html>